<form action="/cats" method="POST">
  <label>Name
    <input type="text" name="cat[name]">
  </label>

  <label>Owner
    <input type="text" name="cat[owner]">
  </label>

  <input type="submit">
</form>
<%= flash["errors"].join("<br>").html_safe if flash["errors"] %>
